
.linkcontainer{
 margin-top: 20px;
 padding: 0 20px;
}

.linkcontainer_btn{
    padding: 24px 32px;
    border: 1px solid #eaecf0;
    border-radius: 8px;
    line-height: 28px;
    font-size: 18px;
    font-weight: 500;
    color: #101828;
    background: #eaecf0;
    height: 76px;
    transition: 0.4s all ease;
    margin: 10px 0;
    width: 100%;
    cursor: pointer;



}


.linkcontainer_btn:hover{
    background: #D0d5dd;
}

.linkcontainer_btn a{
    color: #000000;
    text-decoration: none;

}