/* contact page styling */

.contact__contianer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 64px 0px 96px 0px;
  gap: 64px;
}




.contact__form {
  gap: 48px;
}

/* contct form header styling */
.contact__container__header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
}

.contact__container__header h1 {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -2%;
  font-family: "Inter";
  color: #101828;
}

.contact__container__header p {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  font-family: "Inter";
  color: #475467;
}

.contact_form {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #344054;
  gap: 24px;
}

.contact_name {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 24px;
  color: #344054;
  line-height: 20px;
  font-size: 14px;
  font-weight: 500;
  font-family: "Inter";
}

.contact_name label {
  width: 49%;
  margin-top: 25px;
}

.contact_form input {
  width: 100%;
}

.form-group {
  margin-top: 24px;
}

input,
textarea {
  background: #ffffff;
  border: 1px solid #d0d5dd;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  padding: 10px 14px;
  width: 100%;
  margin-top: 8px;
  gap: 6px;
  font-weight: 400;
  font-size: 20px;
  font-family: "Inter";
  font-style: normal;
  transition: 0.4s all ease;
}

input:focus {
  outline: none;
  border: 1px solid #84caff;
}

textarea:focus {
  outline: none;
  border: 1px solid #84caff;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #d1e9ff;
  border-radius: 8px;
}

input::placeholder,
textarea::placeholder {
  color: #667085;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  font-family: "Inter";
  font-style: normal;
}

.contact_form textarea {
  resize: none;
  height: 132px;
}

.invalid-feedback {
  font: "Inter";
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: red;
}

.checkcontainer {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 14px;
}

.checkcontainer input {
  position: absolute;
  opacity: 0;
  background: #ffffff;
  margin-top: -1px;
  z-index: 30;

  cursor: pointer;
  height: 30px;
  width: 20px;
}

.checkcontainer label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #475467;

  padding: 5px 0px 0px 30px;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 7px;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 1px solid #d0d5dd;
  border-radius: 6px;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}




.checkcontainer input:checked ~ .checkmark {
  background-color: #fff;
  border: 1px solid #1570ef;
}



.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkcontainer input:checked ~ .checkmark:after {
  display: block;
}



.checkcontainer .checkmark:after {
  left: 7px;
  top: 1px;
  width: 3px;
  height: 10px;
  border: solid #1570ef;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}



.contact_form button {
  width: 100%;
  height: 48px;
  background: #1570ef;
  border-radius: 8px;
  border: 1px solid #1570ef;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  color: #ffffff;
  padding: 12px 20px 12px 20px;
  gap: 8px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.02em;
  margin-top: 24px;
  cursor: pointer;
  transition: 0.4s all ease;
  font-family: "Inter";
  font-style: normal;
}

.contact_form button:hover {
  background: #175cd3;
  border: 1px solid #175cd3;
}

/* .contact_form button:active {
  background: #84caff;
  border: 1px solid #84caff;
} */

.contact_form button:focus {
  background: #1570ef;
  border: 1px solid #1570ef;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #d1e9ff;
}

.contact_form button:disabled {
  background: #b2ddff;
  border: 1px solid #b2ddff;
}

.contact_form button:disabled:hover {
  background: #84caff;
  border: 1px solid #84caff;
}

.contact_form button:disabled:active {
  background: #84caff;
  border: 1px solid #84caff;
}

.contact_form button:disabled:focus {
  outline: none;
}

/* error styling */

.is-invalid {
  border: 1px solid red;
}

.is-invalid:focus {
  border: 1px solid #f89687;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #ffd3cc;
  border-radius: 8px;
}

.is-invalid::placeholder {
  color: #667085;
}

/* media queries syling */

@media screen and (max-width: 768px) {
  .contact__contianer {
    padding: 64px 32px 96px 32px;
  }

  .contact_form {
    gap: 16px;
  }
  .contact_form p {
    font-size: 18px;
  }

  .contact_name {
    flex-direction: column;
    gap: 16px;
  }

  .contact_name label {
    width: 100%;
  }

  .last_name {
    margin-top: 0 !important;
  }

  input,
  textarea {
    margin-top: 0px;
  }
}
