
.linkcontainer{
 margin-top: 20px;
 padding: 0 20px;
 display: flex;
 flex-direction: column;

}

.linkcontainer_btn{

    padding: 24px 32px;
    border: 1px solid #eaecf0;
    border-radius: 8px;
    line-height: 28px;
    font-size: 18px;
    font-weight: 500;
    color: #101828;
    background: #eaecf0;
    height: 76px;
    transition: 0.4s all ease;
    margin: 10px 0;
    width: 100%;
    text-align: center;
    text-decoration: none;
    cursor: pointer;



}


.linkcontainer_btn:hover{
    background: #D0d5dd;
}

.linkcontainer_btn a{
    color: #000000;
    text-decoration: none;

}

.socialcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0px;
    gap: 40px;
    width: 100%;
    height: 72px;
    background: #ffffff;
    margin: 10px 0;
}

@media screen and (max-width: 768px) {
    .linkcontainer{
        padding: 0;
        margin-top: 0;

    }

    .linkcontainer_btn{
        line-height: 20px;
        font-size: 16px;
        height: 68px;
    }

    .socialcontainer{
        padding: 0px 0px 20px 0px;
        
    }
}